<div class="container">
    <h1>Cálculo de frete</h1>
    <div class="form-horizontal">
        <div class="form-group">
            <address-autocomplete></address-autocomplete>
        </div>
        <div class="form-group">
            <address-autocomplete></address-autocomplete>
        </div>
        <div class="btn-group">
            <button class="btn btn-success" (click)="distanceMatrix()">Calcular</button>
        </div>
    </div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
</div>